<h1>使用已有账号登录</h1>
<form  role="form" action="/doLogin" method="POST" >
	<ul>
		<li><input type="text" name='user[name]'/></li>
		<li><input type="password" name='user[pass]'  /></li>
		<li><input type="submit" value="登录" /></li>
	</ul>
</form>
