<h1>注册新账号</h1>
<form  role="form" action="/doSignup" method="POST" >
	<ul>
		<li><input type="text" name='user[name]' /></li>
		<li><input type="password" name='user[pass]' /></li>
		<li><input type="submit" value="注册" /></li>
	</ul>
</form>
